<div class="text-center mt-3">
  <h1>{{predicate === "liked" ? "Users I like" : "Users who like me"}}</h1>
</div>

<div class="container mt-3">
  <div class="row justify-content-center">

    <div class="col text-center">
      <mat-button-toggle-group [(value)]="predicate">
        <mat-button-toggle (click)="loadLikes()" value="liked">Users I Like</mat-button-toggle>
        <mat-button-toggle (click)="loadLikes()" value="likedBy">Users That Like Me</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center mt-3">
    <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-8 col-10" *ngFor="let member of members">
      <app-member-card [member]="member" class="mb-3"></app-member-card>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-3" *ngIf="pagination">
    <mat-paginator [length]="pagination.totalItems" [pageSize]="pagination.itemsPerPage" (page)="pageChanged($event)">
    </mat-paginator>
  </div>

</div>
