<mat-card class="mt-3">
  <mat-card-content #scrollMe style="overflow: scroll; height: 535px; overflow-x: hidden;"
    [scrollTop]="scrollMe.scrollHeight">
    <div *ngIf="(messageService.messageThread$ | async)?.length === 0">
      No messages yet... say hi by using the message box below
    </div>

    <mat-list role="list" *ngIf="(messageService.messageThread$ | async).length > 0">
      <mat-list-item role="listitem" *ngFor="let message of (messageService.messageThread$ | async)">
        <img matListAvatar src="{{message.senderPhotoUrl || './assets/user.png'}}">
        <h3 matLine> {{message.senderUsername}} </h3>
        <p matLine>
          <span>{{message.content}} </span>
        </p>
        <span class="float-right">
          <span class="text-success" *ngIf="message.dateRead && message.senderUsername !== username">
            (read {{message.dateRead | timeago}})
          </span>
          <span class="text-danger" *ngIf="!message.dateRead && message.senderUsername !== username">
            (unread)
          </span>
        </span>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>

  </mat-card-content>

  <mat-card-footer class="px-3">
    <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
      <mat-form-field style="width: 100%;" appearance="fill">
        <mat-label>Message</mat-label>
        <input matInput placeholder="Send a message" required [(ngModel)]="messageContent" name="messageContent"
          type="text">
        <button type="submit" [disabled]="!messageForm.valid || loading" matSuffix mat-icon-button>
          <mat-icon>send</mat-icon>
        </button>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      </mat-form-field>
    </form>
  </mat-card-footer>
</mat-card>
